/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
  background-color: #202020;
  font-family: 'Lato', sans-serif;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: #f1f1f1;
  color: rgba(255, 255, 255, 0.9);
  font-size: 3.5em;
  text-align: center;
  margin-top: 0;
  top: 30%;
  left: 15%;
  right: 15%;
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
}

b{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.card-grid {
  display: block;
  visibility: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
}

.card {
  margin-top: 22vw;
  transform: translateY(-50%);
  overflow: auto;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.15),
                0 5px 15px 0 rgba(0,0,0,0.10);
}

/* scrollbar - pseudo elements that can be hidden with standard CSS rules */
.card::-webkit-scrollbar {
  display: none;
}

.card img{
  position:relative;
  height:100%;
  width:100%;
  transform: scale(1);
  transition: transform;
  transition-duration:1s;
}

.card:hover img{
  transform: scale(1.5);
  transition: transform;
  transition-duration:1s;
}

.card:hover .slide-up {
  top: 50%;
}

.card img {
  width: 100%;
  height: auto;
}

.slide-up {
  top: 100%;
  background-color: rgba(58, 58, 58, 0.6);
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 25px;
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
}

.link-button {
  text-align: center;
}


button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
 
 button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
 
 button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
 
 button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
 
 button:focus {
  outline: 1px transparent;
}
 
 button:before {
  display: none;
}
 
 button:-webkit-details-marker {
  display: none;
}